<div class="row">
  
<% if @current_user %>

  <% for place in @places %>
    <div class="col-md-3 col-sm-6">
    <li>
      <a href="/places/<%= place.id %>"><%= place.name %></a>
    </li>
      </h4>

    </div>
  <% end %>

<div class="col-sm-3 text-end">
          <a href="/places/new/" class="btn btn-success">New Place</a>
        <% else %>
        Login or Sign up to see and share the place's you've been!
        <% end %>
      </div>

</div>